* {
  font-family: "微軟正黑體", "sans-serif";
  margin: 0;
  padding: 0;
  color: #555555;
  line-height: 1.6rem;
}

a {
  text-decoration: none;
  color: inherit; /* 繼承父元素文字顏色 */
}

body {
  display: flex;
  justify-content: center;
}

.main {
  width: 800px;
  margin: 30px 20px;
}

.head {
  display: flex;
  align-items: center;
  position: relative;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

.subtitle {
  margin: 0 30px;
}

.config {
  position: absolute;
  top: 0;
  right: 0;
}

#lanImg {
}

.links {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.linkImg {
  margin-right: 15px;
}

.linkcontent {
  margin-right: 15px;
}

.content {
  display: flex;
  /* flex-wrap: wrap;
  align-content: center; */
}

.skills {
  width: 30%;
}

.heading {
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 15px;
}

.subheading {
  font-weight: 700;
  margin: 15px 0;
}

.propject {
  margin: 0 20px;
  width: 100%;
}
